/* blockquote */
.tiptap:first-child {
  margin-top: 0;
}

.tiptap blockquote {
  border-left: 3px solid #E6E8EB;
  margin: 1.5rem 0;
  padding-left: 1rem;
}

/* Link styles */
a {
  color: var(--el-color-primary);
  cursor: pointer;

  &:hover {
    color: var(--el-color-primary-light-5);
  }
}